// COLORS
$primary-color: #4505da;
$secondary-color: #4ed80f;

$white-color: #ffffff;

$dark-grey: #2b2a2a;
$light-grey: #3e9603;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
